{
	"auth": "", /* Put your username here */
	"password": "", /* Put your password here */
	"videoQuality":"360/480/720/1080/4k" /* Choose the quality that you want to download (4k could not work) */
}
