{
	"auth": "",
	"password": "",
	"videoQuality": "720",
	"plexFolder": "/home/plex/medias/floaplaneclub/",
	"lttFolderName": "Linus Tech Tips/",
	"tqFolderName": "Techquickie/",
	"csfFolderName": "Channel Super Fun/"
}
