{
	"auth": "",
	"password": "",
	"videoQuality": "720",
	"plexFolder": "",
	"lttFolderName": "Linus Tech Tips/",
	"tqFolderName": "Techquickie/",
	"csfFolderName": "Channel Super Fun/",
	"fpeFolderName": "Floatplane Exclusive/", //NOT WORKING YET
	"tlFolderName": "Tech Linked/"
}
